<p-toolbar>
    <div class="p-toolbar-group-left">
        <i class="pi pi-prime" style="font-size: 2rem; margin-right: 15px;"></i>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Dummy Search">
      </span>
    </div>
    <div class="p-toolbar-group-right">
      <button pButton type="button" icon="pi pi-user" class="p-button-rounded p-button-text p-mr-2" (click)="navigateToFirst()"></button>
    </div>
  </p-toolbar>